@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

:root {
  color: white;
  font-family: "Encode Sans";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

header {
  flex: 0 50px;
  background: blue;
  display: flex;
  flex-direction: row;
}

h1 {
  flex: 1;
  padding-left: 10px;
  font-size: 20px;
  justify-content: start;
  background: palegreen;
}

#back {
  flex: 0;
  margin-right: 10px;
}

.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: inline;
  position: relative;

  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}

span.stars {
  display: inline-block;
  white-space: nowrap;
}

footer {
  flex: 0 30px;
  background: lightblue;
  font-size: 20px;
  display: flex;
}

#git {
  flex: 0.5;
  align-self: flex-start;
  text-align: left;
  justify-content: center;
}

#name {
  text-align: right;
  justify-content: center;
}
@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  img {
    display: none;
  }
}

@media (max-width: 700px) {
  div {
    flex-direction: column;
  }

  img {
    display: none;
  }
}

.table {
  margin: 1em 0;
  min-width: 300px;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: 0.5em;
    }
    &:last-child {
      padding-bottom: 0.5em;
    }
  }

  th,
  td {
    text-align: left;

    @media (min-width: 480px) {
      display: table-cell;
      padding: 0.25em 0.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.table {
  color: black;
  border-radius: 0.4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495e, 10%);
  }
  th,
  td {
    margin: 0.5em 1em;
    @media (min-width: 480px) {
      padding: 1em !important;
    }
  }
  th,
  td:before {
    color: cornflowerblue;
  }
}
