@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

:root {
  color: white;
  font-family: "Encode Sans";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 50px;
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

h1 {
  padding-left: 10px;
  font-size: 20px;
}

footer {
  flex: 0 30px;
  background: lightblue;
  font-size: 20px;
  display: flex;
}

.fade {
  display: none;
}

#git {
  flex: 0.5;
  align-self: flex-start;
  text-align: left;
  justify-content: center;
}

#name {
  text-align: right;
  justify-content: center;
}

main {
  flex: 1;
  color: black;
  font-size: 30px;

  display: flex;
  flex-direction: column;
}

#back {
  float: right;
}

#v-pills-home {
  display: flex;
  flex-direction: row;
  background: palegoldenrod;
}

#list {
    flex: 1;
    background: blanchedalmond;
}

#stars {
    flex: 0 30px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: inline;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  img {
    display: none;
  }
}

@media (max-width: 700px) {
  div {
    flex-direction: column;
  }

  img {
    display: none;
  }
}
