@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

:root {
  color: white;
  font-family: "Encode Sans";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 50px;
  background: darkblue;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

h1 {
  padding-left: 10px;
  font-size: 20px;
}

footer {
  flex: 0 30px;
  background: darkgreen;
  text-align: center;
  font-size: 10px;
}

main {
  flex: 1;
  color: black;
  font-size: 30px;

  display: flex;
  flex-direction: column;
}

#back {
  float: right;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 2.5em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #ffcc36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #ff912c;
}

@media (max-height: 400px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  img {
    display: none;
  }
}

@media (max-width: 700px) {
  div {
    flex-direction: column;
  }

  img {
    display: none;
  }
}
