@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

:root {
  color: white;
  font-family: "Encode Sans";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 0 50px;
  background: darkblue;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

h1 {
  padding-left: 10px;
  font-size: 20px;
}

footer {
  flex: 0 30px;
  background: darkgreen;
  text-align: center;
  font-size: 10px;
}

main {
  flex: 1;
  color: black;
  font-size: 30px;

  display: flex;
  flex-direction: column;
}

#title {
  flex: 0 50px;
  justify-content: center;
  text-align: center;
}

div {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#right {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
  flex: 1;
}

#left {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  overflow: scroll;
}

#name {
  flex: 0 20px;
  align-self: center;
  justify-content: center;
}

#psw {
  flex: 0 20px;
  align-self: center;
}

#top {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  overflow: scroll;
}

#add {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
}

#new {
  flex: 0 50px;
  justify-content: center;
  text-align: center;
}

img {
  flex: 0 8vh;
}

@media (max-height: 400px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  img {
    display: none;
  }
}

@media (max-width: 700px) {
  div {
    flex-direction: column;
  }

  img {
    display: none;
  }
}
