@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

:root {
  color: white;
  font-family: "Encode Sans";
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100vh;
  background: #cdaefa;
}

header {
  flex: 0 10px;
  background: #1d22db;
  display: flex;
  flex-direction: column;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.nav-link {
  color: white !important;
}

h1 {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 30px;
  color: white;
}

.btn-outline-primary {
  font-size: 5em;
  background: white;
}
footer {
  flex: 0 30px;
  background: #8588f5;
  font-size: 15px;
  font-family: "Encode Sans";
  display: flex;
  align-items: center;
}



footer span {
  flex: 0 150px;
  text-align: left;
  margin-left: 10px;
}

footer a {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

main {
  flex: 1;
  color: black;
  font-size: 30px;

  display: flex;
  flex-direction: column;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

.navbar {
  padding: 0 !important;
  flex: 1;
}

div {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100vh;
}

#right {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
  flex: 1;
}

#left {
  flex: 1 0.5%;
  display: flex;
  flex-direction: column;
}

#name {
  flex: 0 0.2%;
  align-self: center;
  justify-content: center;
}

#psw {
  flex: 0 0.2%;
  align-self: center;
}

#title {
  flex: 0 50px;
  justify-content: center;
  text-align: center;
  color: #000;
}

label {
  text-align: center;
}

img {
  flex: 0 8vh;
}

@media (max-height: 400px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
